/* Quicksand font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,400&display=swap');

.welcome-text{
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.desc-hero{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.button-hero{
    
}